$active: #70C82F;
$inactive: lighten($active, 30%);
div.app {
    h1 {
        text-align: center;
    }
    position: relative;
    width: 100vw;
    top: 6em;
    height: calc(100vh - 6em);
    div {
        display: inline-block;
        &.side {
            width: 24%;
            height: 100%;
            position: absolute;
            top: 0;
            div {
                margin: 0 10%;
                
                div.step {
                    color: $inactive;
                    display: block;
                    margin: 10em 0;
                    span {
                        $diameter: 20px;
                        height: $diameter;
                        width: $diameter;
                        border-radius: 50%;
                        background-color: $inactive;
                        display: inline-block;
                        margin-right: 50px;
                        &.tail {
                            &::after {
                                content: ' ';
                                position: relative;
                                width: 3px;
                                height: 11em;
                                background-color: $inactive;
                                display: block;
                                left: 8px;
                                z-index: -1;
                            }
                        }
                    }
                    &.active {
                        color: $active;
                        span {
                            background-color: $active;
                        }
                    }
                }
            }
            
        }
        &.geography {
            width: 74%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;

            & > #map {
                margin: 6em 0;
            }

            & > .details {
                position: absolute;
                top: 7em;
                right: 10em;
                & > div {
                    display: block;
                    margin: 20px 0;
                    
                }
            }
        }
    }
}