$navHeight: 6em;

nav {
    width: 100%;
    height: 6em;
    background-color: #5B7553;
    position: fixed;
    top: 0;
    right: 0;
    .nav {
        width: 80%;
        height: 136%;
        margin: 0 auto;
        .brand {
            $brandHieght: 69px;
            height: $brandHieght;
            position: relative;
            top: $navHeight/2;
            margin-top: -$brandHieght/2;
            img {
                height: 100%;
                width: auto;
            }
        }
        .menu {
            position: relative;
            left: 0;
            width: 200px;
        }
    }
}